# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
model-mesh-env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
*.dockerignore


# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System-specific
.DS_Store
Thumbs.db
